body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

#container {
    text-align: center;
    background: rgb(22, 24, 62);
    background: linear-gradient(120deg, rgba(22, 24, 62, 1) 0%, rgba(22, 24, 62, 1) 44%, rgba(91, 41, 103, 1) 52%, rgba(67, 35, 89, 1) 56%, rgba(64, 34, 87, 1) 60%, rgba(110, 46, 115, 1) 67%, rgba(77, 38, 95, 1) 75%, rgba(110, 46, 115, 1) 82%, rgba(101, 44, 110, 1) 84%, rgba(22, 24, 62, 1) 90%);
    background-size: cover;
    color: #E7E7EB;
    min-height: 100vh;
}

header {
    padding: 40px 70px;
    text-align: left;
    margin-bottom: 50px;
}

#epicodeLogo {
    width: 15%;
}

main {
    width: 65%;
    margin: auto;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 26px;
    margin: 20px 0;
}

#feedbackStars {
    margin: 30px 0;
}

#feedbackStars img {
    cursor: pointer;
    width: 7%;
    max-width: 45px;
    margin-inline: 1%
}

#leaveComment {
    padding: 30px 0 60px;
}

#comment {
    background-color: transparent;
    display: block;
    color: #E7E7EB;
    width: 100%;
    border: 0;
    font-size: 100%;
    border-bottom: 2px solid #D20094;
    padding: 10px 20px;
    margin: 40px 0 60px;
}

#moreInfo {
    background-color: #00FFFF;
    color: #0B113B;
    font-weight: 900;
    width: 170px;
    line-height: 3em;
    font-size: 120%;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 30px #00FFFF;
}

input:focus-visible {
    outline: 0;
}
