/*IMPOSTAZIONI GENERALI*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  background: rgb(22, 24, 62);
  background: linear-gradient(120deg, rgba(22, 24, 62, 1) 0%, rgba(22, 24, 62, 1) 44%, rgba(91, 41, 103, 1) 52%, rgba(67, 35, 89, 1) 56%, rgba(64, 34, 87, 1) 60%, rgba(110, 46, 115, 1) 67%, rgba(77, 38, 95, 1) 75%, rgba(110, 46, 115, 1) 82%, rgba(101, 44, 110, 1) 84%, rgba(22, 24, 62, 1) 90%);
  height: 100%;
  width: 100%;
  padding-left: 7%;
  color: white;
}

span {
  font-weight: bold;
}

/*HEADER*/
.logo {
  width: 15%;
  margin-top: 2%;
  margin-bottom: 2.5%;
}

/*MAIN*/
h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 500%;
  line-height: 0.8em;
  font-weight: 200;
}


/*SECTION*/
section {
  font-family: 'Inter', sans-serif;
  padding-bottom: 1.5%;
}

h2 {
  color: #C2128D;
  font-size: 200%;
  margin-bottom: 0;
}

section p {
  padding-bottom: 2%;
  font-size: 160%;
  margin-top: 0.7%;
}

ul {
  line-height: 1.7em;
  padding-bottom: 2.5%;
  font-size: 160%;
}

/*FOOTER*/

form div h3 {
  color:#00FFFF;
  border-radius: 50px;
  padding: 10px;
  font-size: 180%;
  font-family: 'Outfit', sans-serif;
}

div label {
  font-size: 100%;
  font-weight: 600;
}

.contenitore {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.seleziona{
  font-size: 25px;
  padding-top: 25px;
}

input:hover {
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  width: 20px; /* Imposta la larghezza del radio button */
  height: 20px; /* Imposta l'altezza del radio button */
  border: 2px solid #ffffff; /* Aggiunge un bordo */
  border-radius: 0; /* Rimuove il bordo arrotondato */
}

input[type="radio"]:checked {
  background-color: #00FFFF; /* Cambia il colore di sfondo quando è selezionato */
}

.procedi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  width: 75%;
}

.align {
  display: flex;
  align-items: center;
}


.custom-checkbox {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #16183e;
  /* Colore di sfondo*/
  background-position: center;
  border: 4px solid white;
  /* di default;*/
}

input[type="checkbox"] {
  display: none;
  /* Nasconde il checkbox di default */
}

input[type="checkbox"]:checked+.custom-checkbox {
  background-image: url(../images/image_processing20200511-10310-15y6mf2.png);
  /* Cambia il colore di sfondo quando il checkbox è selezionato */
  background-position: center;
  background-size: contain;
  background-color: #226699;
  background-repeat: no-repeat;
}



footer {
  font-family: 'Inter', sans-serif;
  padding-bottom: 10%;
}

footer p {
  display: inline;
  font-size: 130%;
  font-weight: 600;
  padding-left: 1em;
}

button {
  cursor: pointer;
  color: #0b113b;
  padding: 0.6em 1.8em;
  margin-left: 20%;
  font-weight: bold;
  /* background-color: #00FFFF; */
  background-color: #575d5d80;
  font-size: 200%;
  /* box-shadow: 0px 0px 20px 10px #00feff4d; */
  border: transparent;
}

.buttonCheked{
  color: #0b113b;
  padding: 0.6em 1.8em;
  margin-left: 20%;
  font-weight: bold;
  background-color: #00FFFF;
  font-size: 200%;
  box-shadow: 0px 0px 20px 10px #00feff4d;
  border: transparent;
}
